resources:
  - ../base

namePrefix: prod-
replicas:
  - name: my-cool-kustomize-application
    count: 0
images:
  - name: localhost:32000/hello-world
    newTag: lain2

patchesStrategicMerge:
  - ingress-patch.yaml