resources:
  - ../base

namePrefix: prod-
replicas:
  - name: my-cool-kustomize-application
    count: 2
images:
  - name: localhost:32000/hello-world
    newTag: v1

patchesStrategicMerge:
  - ingress-patch.yaml